<div class="jumbotron">
	<h3>Take a Loan</h3>
	<%= form_for @loan, class:"form-group",local: true do |form| %>
	<%= notice %>
	<p>
		<%= form.label :loan_type %><br>
		<%= form.text_field :category ,class:"form-control" , required: true %>
	</p>
	<p>
		<%= form.label :amount %><br>
		<%= form.text_area :amount ,class:"form-control" , required: true%>
	</p>
	<p>
		<%= form.label :no_of_years %><br>
		<%= form.text_area :no_of_years ,class:"form-control" , required: true %>
	</p>
	<%= form.hidden_field :account_id, :value => @account.id %>
	<p>
		<%= form.submit :Save ,class:"btn btn-md btn btn-success" %>
	</p>
	<% end %>
	<%= link_to 'Back', account_path(@account.id) ,class:"btn btn-md btn btn-primary" %>
</div>